@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgba(0,0,0,0.9);
    position: relative;
    height: 100vh;
    overflow: hidden;
}

span{
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 8%;
}

.logo{
    color: aquamarine;
    font-size: 45px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    margin: 0 15px;
}

.menu li a {
    color: gray;
    text-decoration: 0;
    text-transform: uppercase;
    font-size: 30px;
    transition: 0.5s;
    
}

.menu li a:hover {
    color: white;
}

button {
   border: 1px solid white; 
   text-transform: uppercase;
   font-size: 20px;
   transition: 0.5s;
   background-color: black;
   color: white;
   border-radius: 5px;
   padding: 5px 8px;

   
}

button:hover{
    background-color: white;
    color: black;
}

.description {
    height: calc(100vh - 80px);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.texte h1{
    font-size: 50px;

}

.texte{
    width: 45%;
}

.texte p{
    color: gray;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.texte a{
    display: inline-block;
    background-color: black;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    width: 150px;
    transition: 0.5s;
    cursor: pointer;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: 0;
}


.texte a:hover{
    background-color: white;
    color: black;
    letter-spacing: 1px;
}


.dessin img{
    height: 500px;
}

.dessin{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-group{
    margin: 0 auto;
    width: 100px; 
}

#grille{
    background-color: rgba(65, 65, 65, 0.644);
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    display: grid;
    margin-top: 80px;
    column-gap: 0.5px;
    text-transform: uppercase;
    grid-template-columns:  auto auto auto;
}

.card {
    width: 500px;
    height: 200px;
    margin: 10px auto; 
    background-color: rgba(65, 65, 65, 0.644); 
    box-shadow: 0px 5px 20px #999; 
    border-radius: 5px;
    
}

.jeux {
    
    border: 1px solid white; 
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.5s;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px 8px;
    
}

fieldset{
    padding-left: 20px;
    text-align: center;
    height: 400px;
    background-color: rgba(65, 65, 65, 0.644);
    color: white;
    font-size: 200%;
    
}

.form {
    padding-left: 200px;
    padding-right: 200px;
}

fieldset input{
    font-size: 130%;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
}

 
/*responsive*/

@media (max-width:770px){
    header .menu {
        display: none;
    }

    .texte {
        background-color: rgba(0,0,0,0.8);
        width: 100%;
        padding: 30px;
    }
    .texte h1{
        font-size: 25px;
    }

    .texte p {
        font-size: 12px;
    }

    .dessin{
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .menu_toggle{
        z-index: 10;
        height: 50px;
        width: 50px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu_toggle::before{
        position: absolute;
        content: "";
        transform: translateY(-10px);
        width: 28px;
        height: 5px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 6px 10px white;
        transition: 0.5s;
    }
    .menu_toggle.active::before{
        box-shadow: 0 0 white;
        transform: rotate(135deg);
    }

    .menu_toggle::after{
        position: absolute;
        content: "";
        transform: translateY(10px);
        width: 28px;
        height: 5px;
        background-color: white;
        border-radius: 6px;
        transition: 0.5s;}

    .menu_toggle.active::after{
        transform: rotate(-135deg);
    }
 

    header .menu.responsive{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .menu.responsive li{
        margin: 10px 0;
    }
}

   

    
   